<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oZ0n3's Blog</title>
</head>
<body>
    <h1>oZ0n3's Blog</h1>
    {{ content | safe }}
</body>
</html>